<div class='container'>
  <h1>All Restaurants</h1>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li> <%= link_to restaurant.name, restaurant_path(restaurant) %> </li>
    <% end %>
  </ul>
  <div class='index-btn'>
    <%= link_to "Create a new restaurant", new_restaurant_path, class: "btn btn-primary btn-block" %>
  </div>
</div>
